
.page-header{
  @include banner;
  height: 30vh;
  min-height: 30vh;
  max-height: 30%;

}
.page-header-content{
  padding: 0 15%;
}
.page-header-inner{
  padding: 1em;
  margin: 0 auto;

}
.page-content{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.content-block{
  margin: 0 auto;
  padding: 4em 1%;
}

.content-block:first-of-type{
  padding: 2em 0 3em;
}

h2.content-block-title{
  text-align: center;

  margin-bottom: .5em;
}
@include phone {
  h2.content-block-title{

  }
}
@include tablet {
  h2.content-block-title{

  }
}
@include laptop {
  h2.content-block-title{

  }
}
.content-block-hr{
  border-bottom: $brand-color solid;
  max-width: 4rem;
}

.snipcart-checkout-container {
    padding: 100px 0;
}

#snipcart-header {
    background: #fafafa;
    color: $text-color;

}

#snipcart-main-container select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: 38px;
    display: block;
    padding: 8px 6px;
    margin: 5px 30px 0 0px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-image: none;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}
