---
layout: default
---
{% include page-header.html %}
<section class="page-content">
  <div class="content-block">
    <div class="container 3">
      {{ content }}
        <a href="#"
            class="button snipcart-add-item"
            data-item-id="{{ page.id }}"
            data-item-name="{{ page.title }}"
            data-item-price="{{ page.price }}"
            data-item-weight="20"
            data-item-url="{{ page.url }}"
            data-item-description="{{ page.description }}"
            data-item-custom1-name="Color"
            data-item-custom1-options="{% for item in page.colors %}{{ item.color }}|{% endfor %}"
            data-item-custom1-value="Medium">
                Add To Cart
        </a>
    </div>
  </div>
</section>