---
layout: default
---
{% include page-header.html %}
<section class="page-content">
  <div class="row">
    <div class="half-column half-column-image pull-left" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{ page.image_path }});">
    </div>
    <div class="half-column">

        <div class="container">
          <p>{{ page.brand }}</p>
          <h3>{{ page.title }}</h3>
          {{ content }}
            <a href="#"
                class="button button-wide snipcart-add-item"
                data-item-id="{{ page.id }}"
                data-item-name="{{ page.title }}"
                data-item-price="{{ page.price }}"
                data-item-weight="20"
                data-item-url="{{ page.url }}"
                data-item-description="{{ page.description }}"
                data-item-custom1-name="Color"
                data-item-custom1-options="{% for item in page.product_color %}{{ item.color }}|{% endfor %}"
                data-item-custom1-value="Medium">
                    Add To Cart
            </a>
        </div>
    </div>
  </div>
</section>
