.products{
  width: 100%;
  float: left;
}
.product-item{
  float: left;
  width: 84%;
  margin: 2% 8%;
  display:block;
  position:relative;
}
.product-item-container{
  width: 100%;
  height: auto;
}

.product-item-brand{
    font-family: $base-font-family-bold;
    color: $grey-color;
    font-size: .9rem;
    margin-top: 16px;
    margin-bottom: -8px;
    text-transform: uppercase;
}
.product-item-title{
    font-family: $base-font-family;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-item-price{
    font-family: $base-font-family;
    font-size: 1.2rem;
    margin-top: -4px;
    margin-bottom: 4px;
}
.product-item .product-item-image{
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

}
.product-item .product-item-overlay{
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    transition: background-color .5s;
}
.product-item:hover .product-item-overlay{
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.0);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

@include laptop {
  .product-item{
    float: left;
    width: 30%;
    margin: 2% 1.6%;
    display: block;
    position: relative;
  }
}
